<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Roomba map</title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

<div>
  <button type="button" class='btn btn-success action' data-action='/api/local/action/start'>Start</button>
  <button type="button" class='btn btn-success action' data-action='/api/local/action/pause'>Pause</button>
  <button type="button" class='btn btn-success action' data-action='/api/local/action/resume'>Resume</button>
  <button type="button" class='btn btn-success action' data-action='/api/local/action/dock'>Dock</button>
  <button type="button" class='btn btn-success action' data-action='/api/local/action/stop'>Stop</button>
  <button type="button" class='btn btn-info action' data-action='/api/local/info/sys'>Test Sys</button>
  <a type="button" class='btn btn-warning' id='download' onclick='downloadCanvas();'>Download Image</a>
  <button type="button" class='btn btn-danger' onclick='clearMap();'>Clear map</button>
  <button type="button" class='btn btn-danger' id='clearoutline' onclick='clearOutline();'>Clear outline</button>
  <button type="button" class='btn btn-danger' onclick='toggleMapping();'>Start/Stop mapping</button> <span class='' id='mapStatus'></span>
  <div>
    Update every: <input type='text' id='updateevery' size='5' value='5000'/>ms.
    Line Width <input type='text' id='linewidth' size='2' value='20'/>
    Zoom: 50% <input type='range' min='50' max='200' value='85' class='metrics' id='maxheight' style="display: inline-block; width: 20%;"/> 200% <button type="button" onclick='resetMaxHeight();'>Reset</button>
    <input type='checkbox' checked value='true' name='clearnew' id='clearnew'/>
    <label for="clearnew">Clear on New</label>
    <input type='checkbox' checked value='true' name='show_mapsize' id='show_mapsize' onclick='toggleMapsize();'/>
    <label for="show_mapsize">Map Size</label>
    <input type='checkbox' value='true' name='show_fpsize' id='show_fpsize' onclick='toggleFPsize();'/>
    <label for="show_fpsize" id='label_fpsize'>FP Size</label>
    <br/>
    <div id='mapsize'>
    Map size: w:<input type='text' class='metrics' id='sizew' size='5' value='0'/> h:<input class='metrics' type='text' id='sizeh' size='5' value='0'/>
    Dock: x:<input type='text' class='metrics' id='offsetx' size='5' value='0'/> y:<input class='metrics' type='text' id='offsety' size='5' value='0'/>
    rot:<input class='metrics' type='text' id='rotation' size='4' value='0'/> R rot:<input class='metrics' type='text' id='roombaangle' size='4' value='0'/>
    inv x:<input class='metrics' type='text' id='invert_x' size='4' value='0'/> inv y:<input class='metrics' type='text' id='invert_y' size='4' value='0'/>
    <button type="button" onclick='saveValues();'>Save values</button>
    <br/>
    </div>
    <div id='floorplan' style="display: none;">
    FloorPlan: w:<input type='text' class='fpmetrics' id='fpw' size='5' value='0'/> h:<input class='fpmetrics' type='text' id='fph' size='5' value='0'/>
    zoom: <input type='text' class='fpmasterzoom' id='fpzoom' size='5' value='0'/>
    offset: x:<input type='text' class='fpmetrics' id='fpoffsetx' size='5' value='0'/> y:<input class='fpmetrics' type='text' id='fpoffsety' size='5' value='0'/>
    rot:<input class='fpmetrics' type='text' id='fprot' size='4' value='0'/> Trans:<input class='fpmetrics' type='text' id='fptrans' size='4' value='0'/>
    <button type="button" onclick='saveFPValues();'>Save values</button>
    </div>
  </div>

  <div>
    Message: <span class='cr' id='apiresponse'>Center of map is (0,0), Roomba (0,0) is dock location.</span>
  </div>

  <div style="position: relative;">
    <canvas id="path_layer"  style="position: absolute; left: 0; top: 0; z-index: 0; border:1px solid #d3d3d3;"></canvas>
    <canvas id="robot_body_layer" style="position: absolute; left: 0; top: 0; z-index: 1; border:1px solid #d3d3d3;"></canvas>
    <canvas id="text_layer" style="position: absolute; left: 0; top: 0; z-index: 2; border:1px solid #d3d3d3;"></canvas>
  </div>
</div>

<div style='position: absolute; z-index: 1; right: 10px'>
  Name: <span class='data' id='name'></span><br/>
  Last point: <span class='data' id='last'></span><br/>
  Mission Time: <span class='data' id='mission'></span>min<br/>
  Mission: <span class='data' id='nMssn'></span><br/>
  Bin present: <span class='data' id='bin'></span><br/>
  Cycle: <span class='data' id='cycle'></span><br/>
  Phase: <span class='data' id='phase'></span><br/>
  Flags: <span class='data' id='flags'></span><br/>
  Battery: <span class='data' id='batPct'></span>%<br/>
  Error: <span class='data' id='error'></span><br/>
  Sqft: <span class='data' id='sqft'></span><br/>
  expireM: <span class='data' id='expireM'></span>min<br/>
  rechrgM: <span class='data' id='rechrgM'></span>min<br/>
  notReady: <span class='data' id='notReady'></span><br/>
  theta: <span class='data' id='theta'></span><br/>
  x: <span class='data' id='x'></span><br/>
  y: <span class='data' id='y'></span><br/>
</div>
<script src="/js/map.js"></script>
</body>
</html>